@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #272d38;
}
body::after {
  content: "";
  position: absolute;
  width: 679px;
  height: 679px;
  left: calc(50% - 679px / 2 - 601.5px);
  top: -324px;
  background: rgba(142, 173, 213, 0.24);
  filter: blur(153px);
}
body::before {
  content: "";
  position: absolute;
  width: 679px;
  height: 679px;
  left: calc(50% - 679px / 2 + 818.5px);
  top: 1231px;
  background: rgba(142, 173, 213, 0.3);
  filter: blur(153px);
}

/* common */
.container {
  width: 1065px;
  margin: 0 auto;
}
.btn {
  background: #8eadd5;
  border-radius: 8px;
  padding: 10px 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: #4675b2;
}

.common_section {
  margin-top: 136px;
  display: flex;
  justify-content: space-between;
  gap: 179px;
  align-items: center;
  text-align: left;
}

.common_section h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: capitalize;
}

.common_section p {
  padding: 25px 0 45px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
}

.common_section .arrow {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.common_section .arrow:hover {
  transform: translateX(30%);
}

/* --------------------------------------- */

header .container {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}
header .logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.menu {
  display: none;
}
.nav {
  display: flex;
  gap: 50px;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.nav li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav li:hover {
  color: rgb(59, 147, 255);
}
.hero_section {
  margin-top: 97px;
  display: flex;
  justify-content: space-between;
}
.hero_content h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  text-transform: capitalize;
}

.hero_content p {
  padding: 29px 0 39px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
}

.companies_section {
  padding-top: 157px;
  margin: 0 auto;
  text-align: center;
}
.companies_section span {
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: #667085;
}

.logo_container {
  margin: 16px auto 0 auto;
  padding: 24px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 115px;
  background: #f6f6f6;
  border-radius: 8px;
}
.logo_container img {
  cursor: pointer;
}

.custome_section {
  flex-direction: row-reverse;
}

.testimonial_section {
  margin-top: 136px;
  text-align: center;
}

.testimonial_section span {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
}

.testimonial_section h3 {
  margin: 16px 0 38px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: capitalize;
}

.testimonial_row {
  display: flex;
  gap: 15px;
}

.testimonial_item {
  padding: 38px;
  background: #f6f6f6;
  border-radius: 20px;
}
.testimonial_item img {
  width: 129px;
  border: 1px solid rgba(222, 220, 219, 0.5);
  border-radius: 96.5px;
}
.testimonial_item h4 {
  margin: 8px 0 27px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
}
.testimonial_item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  text-transform: capitalize;
}

.contact_section {
  padding: 0 75px;
  background: #f6f6f6;
  border-radius: 20px;
  justify-content: center;
  gap: 90px;
}

.contact_section p {
  padding: 16px 0 32px 0;
}

footer {
  margin-top: 138px;
  background: #f6f6f6;
}
.footer_row {
  padding: 105px 0;
  display: flex;
  gap: 100px;
}

.footer_row .logo h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  padding-bottom: 50px;
}
.footer_row .logo span {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
}
.copyright {
  text-align: center;
  padding-bottom: 18px;
}

.menu_footer h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.menu_footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
}
.menu_footer li {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu_footer li:hover {
  color: rgb(59, 147, 255);
}

@media screen and (max-width: 429px) {
  body::after {
    position: absolute;
    width: 449px;
    height: 449px;
    left: calc(50% - 449px / 2 - 190.5px);
    top: -207px;

    background: rgba(142, 173, 213, 0.24);
    filter: blur(153px);
  }

  body::before {
    position: absolute;
    width: 449px;
    height: 449px;
    left: calc(50% - 449px / 2 + 181.5px);
    top: 1700px;

    background: rgba(142, 173, 213, 0.24);
    filter: blur(153px);
  }
  .container {
    width: 100%;
    padding: 0 25px;
  }

  .hero_content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .header .logo {
    font-size: 14px;
  }
  .nav {
    /* display: none; */
    position: absolute;
    right: -100%;
    top: 88px;
    flex-direction: column;
    background: rgb(197, 223, 255);
    gap: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* transform: translateX(100%); */
    transition: all 0.3s ease-in-out;
  }
  .nav.active {
    /* transform: translateX(0%); */
    right: 0;
  }
  .nav li {
    padding: 15px 70px 15px 20px;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
  }
  .nav li:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    background-color: rgb(59, 147, 255);
  }
  .menu {
    display: block;
    cursor: pointer;
  }
  .hero_section {
    margin-top: 95px;
    justify-content: center;
    flex-direction: column;
  }
  .hero_content h1 {
    font-size: 40px;
    text-align: center;
  }
  .hero_content p {
    font-size: 16px;
    text-align: center;
  }
  .hero_img {
    width: 358px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
  }
  .hero_img img {
    width: 100%;
  }

  .companies_section span {
    font-size: 14px;
  }
  .companies_section {
    padding-top: 120px;
  }
  .logo_container {
    width: 100%;
    padding: 24px 16px;
    gap: 29px;
  }
  .logo_container img {
    width: 60px;
  }

  .common_section {
    margin-top: 88px;
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse;
    gap: 24px;
  }

  .common_section h2 {
    font-size: 32px;
  }
  .common_section p {
    font-size: 14px;
  }

  .common_section .arrow {
    transform: rotate(90deg);
  }
  .common_section .arrow:hover {
    transform: translate(0, 30%) rotate(90deg);
  }

  .common_img {
    width: 375px;
    display: flex;
    justify-content: center;
  }
  .common_img img {
    width: 100%;
  }
  .testimonial_section {
    margin-top: 120px;
  }
  .testimonial_section span {
    font-size: 12px;
  }
  .testimonial_section h3 {
    font-size: 32px;
  }

  .testimonial_row {
    flex-direction: column;
    gap: 40px;
  }

  .testimonial_item {
    padding: 32px 25px;
  }
  .testimonial_item p {
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
  }

  .contact_section {
    padding: 56px 35px;
  }
  .contact_img {
    display: none;
  }

  footer {
    margin-top: 128px;
  }
  .footer_row {
    padding: 105px 0 92px 0;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
